.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.editPanel {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    background: "black";
    overflow-y: auto;
    overflow-x: hidden;
}

.field {
    display: block;
}

.multiline {
    resize: none;
}

.fieldLine {
    display: block;
    border-bottom: white 1px solid;
}
.fieldLine input {
    width: 100px;
}
.fieldLine input[type="number"] {
    width: 40px;
}

.action {
    font-size: large;
    border: white 2px solid;
    color: white;
    background-color: black;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.action:hover {
    color: black;
    background-color: white;
}

.leftPanel {
    position: absolute;
    width: 200px;
    top: 0px;
    left: 0px;
    height: 100%;
    background: "black";
    border-right: white 2px solid;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.listInfo {
    border-bottom: white 2px solid;
    font-size: large;
}

.listInfo p {
    margin: 5px;
}

.list {
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

.listItem {
    font-size: large;
    border: #303030 2px solid;
    color: white;
    background-color: rgb(37, 37, 37);
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    text-align: justify;
    justify-content: space-between;
}
.listItem:hover {
    color: black;
    background-color: rgb(210, 210, 210);
}

.select {
    background-color: #2a4786;
}
.select:hover {
    background-color: #85abfc;
}

.sltBiome {
    min-width: 100px;
}

.listAction {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
}

.cardPanel {
    position: absolute;
    left: 210px;
}

.cvsCard {
    width: 500px;
    height: 700px;
    display: block;
}

.lowvisibilitylabel {
    color: rgb(77, 77, 77);
}
.lowvisibility {
    background-color: rgb(77, 77, 77);
    border: none;
}
.lowvisibility::placeholder {
    background-color: rgb(170, 170, 170);
}
.abilityArea {
    border: #bbbbbb 1px solid;
    padding: 2px;
}
.abilityArea div {
    margin: 0px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    font-size: large;
}
.abilityArea div span {
    font-size: medium;
}
.abilityArea div input {
    margin-left: 5px;
    max-width: 120px;
}
.abilityArea div input[type="number"] {
    margin-left: 5px;
    max-width: 30px;
}
.abilityArea div div {
    display: block;
}
